.text-center {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.content {
    justify-content: center;
    gap: 20px;
}
.btn btn-primary{
    justify-content: center;
    gap: 20px;}